/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height: normal;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
/* end of style reset */

/*
D&D Observer Stylesheet
Created: 29/12/2018
Updated: 01/06/2019
By:Derek Gilmore
Twitter: @TheServantDM
*/

body {
    background-color: #bbdddd;
    line-height: 1;
}

h2 {
    font-family: 'Shadows Into Light Two', cursive;
    padding: 2px 0;
    font-size: 150%;
    text-align: center;
    background-color: #9bb;
    margin: auto;
}

p {
    font-family: 'Shadows Into Light Two', cursive;
    padding: 5px 0;
    font-size: 150%;
    text-align: center;
    background-color: #fff;
}

div {
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 100%;
    text-align: center;
    background-color: #fff;
}

.screen {
    width: 100vW;
    height: 100vh;
    margin: auto;
    background-color: red;
}

.zone {
    float:left;
    background-color: #777;
    position: relative;
}

/*
The OPC section
*/

#zone-opc {
    width: 21%;
    height:100%;
}

.opc-statblock {
    height: 40%;
}

#opc-description {
    font-size: 100%;
    font-style: italic;
}

#zone-opc .opc-statblock .opc-abilities {
    border-top:1px solid #000;
    border-bottom: 1px solid #000;
}

#zone-opc .ability-score {
    display: inline-block;
    width: 13%;
    margin: auto;
}

.opc-items {
    
}

.opc-load {
    
}

.opc-button {
    width: 100%;
    height: 5%;
    margin: 0;
    border-top:1px solid #000;
    border-bottom: 1px solid #000;
    padding: 0;
    background-color: #777;
}

.opc-button p {
    user-select: none;
    line-height: 150%;
    color: #fff;
    background-color: #777;
}

#zone-opc .round-timer {
    height: 7%;
}

#light-life {
    width: 100%;
    background-color: #9bb;
    border-top:1px solid #000;
    border-bottom: 1px solid #000;
    height: 35px;
    position: relative;
}

#opc-light {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: rgba(0,0,0,0);
    transform: translate(-50%, -50%);
}

#light-life-bar {
    width: 1%;
    height: 35px;
    background-color: #fff;
}

#round-progress {
    width: 100%;
    background-color: rgba(255,255,255,1);
    border-top:1px solid #000;
    border-bottom: 1px solid #000;
}

#round-progress-bar {
    width: 1%;
    height: 10px;
    background-color: #9bb;
}

/*
The Map section
*/

#zone-map {
    width: 58%;
    height: 100%;
    background-color: rgba(0,0,0,0);
}

#graphics-map {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(255,255,255,1);
}

#graphics-map-z {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(255,255,255,0);
}

.graphic {
    
}

#tile-map {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0,0,0,0);
}

#tile-map-z {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0,0,0,0);
}

#note-map-z {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0,0,0,0);
}

#elements-map {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0,0,0,0);
}

.grid {
    display: inline-block;
    float: left;
    width: 10%;
    height: 10%;
    background-color: rgba(0,0,0,0);
    text-align: center;
    line-height: 10vh;
    background-size: 100% 100%;
}

.grid-z {
    display: inline-block;
    float: left;
    width: 33.33%;
    height: 33.33%;
    background-color: rgba(0,0,0,0);
    text-align: center;
    line-height: 33.33vh;
    background-size: 100% 100%;
}

.note-z {
    display: inline-block;
    float: left;
    width: 23.33%;
    height: 23.33%;
    background-color: rgba(0,0,0,0);
    text-align: center;
    line-height: 33.33vh;
    background-size: 100% 100%;
    margin: 5%;
    border-radius: 20px;
}

.note-z p {
    font-family: 'Shadows Into Light Two', cursive;
    padding: 5px;
    font-size: 150%;
    text-align: center;
    background-color: rgba(255,255,255,0.5);
    word-wrap: normal;
    white-space: normal;
    word-break: normal;
    word-spacing: 1;
    line-height: normal;
    border-radius: 20px;
    border: #000 solid 1px;
}


.map-button {
    user-select: none;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0,0,0,0);
}

/*
#note-z:hover {
    background-color: #000;
}
*/

/*
The NPC section
*/

#zone-npc {
    width: 21%;
    height: 100%;
}

.opc-feedback {
    height: 50%;
}
